<!--ReleasesCtrl-->
<li ng-repeat="release in releases | filter:searchFavourites"
    ng-click="playRelease(release.id, releases.searchTerm, $index)"
    ng-class="release.state">
    <div class="thumbWrapper">
        <!--<button class="thumb btn darkTheme {{release.colour}}">{{release.initials}}</button>-->
        <img src="{{release.images[2].url}}" class="thumb {{release.colour}}"/>
        <!--<div class="year">{{release.year}}</div>-->
        <div title="{{release.name}}" class="title">{{release.name}}
            <div class="artistName">{{releases.searchTerm}}</div>
        </div>
    </div>
</li>